@import "../base.scss";
.drawerCenter {
  width: 100%;
  height: 100%;
}
.el-select {
  width: 100%;
}
.fillter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.filler-up-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  @include text-color(filler-up-down);
}
.el-radio {
  margin-right: 15px;
}
.fillter-title {
  font-size: 13px;
  @include text-color(text-color);
}
.up {
  margin-bottom: -10px;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #1da57a !important;
  background: #1da57a !important;
}
.el-radio__input.is-checked + .el-radio__label {
  color: #1da57a !important;
}
.tabs-content {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.nav-warp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}
.el-tabs {
  width: 100%;
}
.add_market {
  position: absolute;
  right: 0;
  top: 10px;
  padding: 2px 8px;
  font-size: 13px;
  border: 1px solid #757597;
  color: #757597;
  z-index: 3001;
  border-radius: 13px;
}
.el-tabs__item {
  padding: 0 10px !important;
  font-size: 13px !important;
  @include text-color(text-color);
}
.el-tabs__active-bar {
  background-color: #1da57a !important;
}
.el-tabs__item:hover,
.el-tabs__item.is-active {
  color: #1da57a !important ;
}
.el-input__inner {
  @include bg-color(el-input_inner);
}
/deep/ .el-popper {
  @include bg-color(dropdown);
  
  background: red;
}
.el-popper[x-placement^="bottom"] .popper__arrow::after {
  @include border-bottom(rgba(21, 25, 48, 1));
}
.el-radio__label {
  font-size: 13px !important;
  @include text-color(text-color);
}
