@import "../base.scss";
.exchange_limit {
  width: 100%;
  padding: 0 10px;
  @include bg-color(infoBlock);
  margin-top: 20px;
  border-radius: 4px;
  min-height: 500px;
  padding-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.el-tabs__nav-wrap::after{
  @include bg-color(navbg);
  height: 1px!important;
}
.el-input-group__append, .el-input-group__prepend{
  @include bg-color(el-input_inner);
}
.el-slider__runway{
  @include bg-color(bgcolor1);
}
.el-slider__button{
  border: 2px solid #3cb371!important;
}
.exchange {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  .buysell {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    span {
      width: 150px;
      height: 28px;
      text-align: center;
      line-height: 24px;
      @include border(border);
      border-radius: 4px;
      font-size: 13px;
      @include text-color(title-text);
    }
    .active {
      border: 1px solid #2bcc96!important;
      color: #2bcc96;
    }
    .active2 {
      border: 1px solid #cd3333!important;
      color: #cd3333;
    }
  }
  .info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    span {
      @include text-color(text-color1);
      font-size: 13px;
      strong {
        font-weight: 700;
        @include text-color(text-color1);
        margin-right: 4px;
      }
    }
    .huadian {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .help {
        font-size: 16px;
        margin-left: 3px;
      }
    }
  }
 
  .huadianicon {
    font-size: 13px;
    margin-left: 3px;
  }
  .min_get {
    margin-top: 20px;
  }
  .price_limit {
    margin-top: 8px;
  }
  .min_text {
    color: #afafbb !important;
  }
  .buy_btn,
  .sell_btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #00c080;
    border-radius: 4px;
    font-size: 13px;
    margin-top: 30px;
  }
  .activebtn {
    background-color: #cd3333;
  }
  .el-slider__runway {
    margin: 30px 0;
  }
  .el-slider__marks-text {
    font-size: 13px;
  }
  .silderbar {
    width: calc(100% - 30px);
    height: auto;
    padding: 0 15px;
  }
  .el-slider__button {
    width: 10px;
    height: 10px;
  }
  .el-slider__runway {
    height: 4px;
  }
}
.limit .info {
  margin-top: 10px;
}
