@import '../base.scss';

.pool{
  width: calc(100% - 20px);
  height: calc(100% - 140px);
  @include bg-color(app);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow-y: scroll;
  font-size: 14px;
  .el-tabs__active-bar {
    background-color: #1da57a !important;
  }
  .el-tabs__item:hover,
  .el-tabs__item.is-active {
    color: #1da57a !important ;
  }
  .tvl{
    width: 100%;
    height: auto;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 15px 20px;
    @include bg-color(infoBlock);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .el-tabs,.el-tabs--top{
    width: 100%;
  }
  .pool_nav{
    width: 100%;
    padding: 0 10px;
    @include bg-color(infoBlock);
    margin-top: 20px;
    border-radius: 10px;
    min-height: 500px;
    padding-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /*交易对*/
    .transaction_couple{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .mining{
        width: calc(100% - 4px);
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
        padding: 20px 0;
        border: 2px dashed rgba(0, 0, 0, 0.2);
        .mining_type{
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .trans{
            font-size: 22px;
            @include text-color(logo-span);
            margin: 0 20px;
          }
          img{
            width: 40px;
            height:40px ;
          }
        }
      }
      .mining_asset{
        @include text-color(logo-span);
        margin: 8px 0;
      }
      .apy{
        color: #1DA57A;
        font-size: 16px;
        font-weight: bold;
      }
      .mining_btn{
        width: 80%;
        height: 35px;
        text-align: center;
        line-height: 35px;
        background: #1da57a;
        color: #fff;
        border-radius: 50px;
        margin-top: 15px;
      }
    }
  }
}